body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background-color: #333; 
  color: white;
  z-index: 1000;
}

.footer {
  background-color: #333;
  color: white;
  padding: 50px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background-color: #333; 
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  color: rgb(179, 179, 179);
  font-size: 1.2rem;
  font-family: fantasy;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-section p {
  color: rgb(196, 194, 194);
  font-family: fantasy;
  font-size: 11px;
  margin-bottom: 20px;
}

.footer-section ul {
  color: rgb(196, 194, 194);
  font-family: fantasy;
  list-style: none;
  padding: 0;
  font-size: 11px;
  text-decoration: none;
}

.footer-section ul li {
  color: rgb(196, 194, 194);
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: rgb(196, 194, 194);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-link {
  position: relative;
  padding: 20px;
  color: rgb(179, 179, 179);
  font-family: fantasy;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.3rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgb(179, 179, 179) transparent;
  /* transition: all 0.3s ease; */
}


.nav-link:hover {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.full-page-component {
  position: relative;
  width: 100%;
  height: calc(100% - 200px); 
  margin-top: 100px; 

}

.full-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(203, 201, 201);
}

.btn {
  padding: 12px 30px;
  border-radius: 6px;
  background-color: rgb(88, 87, 87);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background-color:  rgb(54, 53, 53);
  color: white;
}

